nltk==3.6.2
googletrans==4.0.0rc1
tqdm==4.64.0
pandas==1.1.3
selenium==3.141.0
numpy==1.23.0
requests==2.27.1
flashtext==2.7
torch==1.11.0
contractions==0.1.72
beautifulsoup4==4.11.1
ipython==8.5.0